.why {
  
  block-size: 850px;
  background-color: var(--black);
  color: var(--white);
}

.why-content {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline-start: 30px;
}

.why-cabecera {
 
  font: var(--headline2);
  margin-block-end: 100px;
  margin-block-start: 207px;
}



.why-parragra {
  /* border: 1px solid red; */
  color: var(--white);
  font: var( --body1-regular);
  margin-block-end: 150px; 
}


.slider {
  display: flex;
  border-radius: 15px 0 0 15px;
  background: var(--white);
  block-size: 30px;
  inline-size: 100%;
  margin-block-end: 247px;
  margin-inline-end: 0;
}

.slider button {
 
  background: green;
  inline-size: 70%;
  block-size: 100%;
  border-radius: 15px;
  border: none;
 
}

.why-phone {
  display: none;
}